body
{
    background-color: #eee;
}
header
{
    max-width: 960px;
    background: rgb(43, 48, 136);
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 10px 10px 8px #888888;
    font-family: 'Lato', sans-serif;
    font-family: 'Playfair Display', serif;
}

header::after
{
    clear: both;
    content: "";
    display: block;
}

img
{
    float: left;
    margin: 10px;
    max-width: 100%;
    box-shadow: 0 0 10px 0 gray;
    border-radius: 10px;
    
}

footer {
    max-width: 960px;
    background: rgb(43, 48, 136);
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    
  }
  footer p {
    text-align: center;
    font-size: 1.2em;
    color: white;
  }

  main {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin: 20px 200px 20px 200px ;
   
  }

  p {
    text-align: left;
    font-size: 1.2em;
  }

  h1 {
    font-family: "Domine", serif;
    font-size: 3em;
    padding: 0.5em;
    color: white;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;

  }

  h2{
    text-shadow: 2px 2px 8px gray;
    font-family: 'Lato', sans-serif;

  }

  .java
  {
    color: yellow;
  }

  .text{
    color: #888888;
  }